:root {
    --light: #eeeeee;
    --dark: #131313;
}

html {
    font-size: 18px;
}

body {
    color: var(--text);
    background: var(--bg);
    margin: 0;
}

.light-theme {
    --head: #eeeeee98;
    --bg: var(--light);
    --text: var(--dark);
}
.dark-theme {
    --head: #131313c9;
    --bg: var(--dark);
    --text: var(--light);
}

#theme-toggle {
    width: 64;
    height: 64;
    font-size: 16px;

    position: fixed;
    top: 1rem;
    right: 1rem;

    color: var(--text);
    border: none;
    background: none;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: var(--text);
    font-size: clamp(3rem, 15vw, 6rem);
    font-weight: 600;
    font-family: "Space Mono", monospace;

    display: block;
    text-decoration: none;
    padding: clamp(0.5rem, 0.5vw, 1rem) 0rem;

    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}